html, body {
    font-family: "Gill Sans", Serif, sans-serif;
    background-color: #D4F2D2;
}

header {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
input  {
    display: block;
}

button {
    margin-top: 1em;
    float: right;
    display: inline;
}

h1 {
    color: #539987;
    text-align: center;
}

h1, h3, #results {
    text-align: center;
    margin: 0 0 0 0;
}

.login-inputs {
  margin: 1em;
}

h3 {
    padding-bottom: 10px;
}
.content {
    background-color: #EAFDF8;
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}
button, #username, #password{
  display: block;
}


