html, body {
    font-family: "Gill Sans", Serif, sans-serif;
    background-color: #D4F2D2;
}

header {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
input  {
    display: block;
}

button {
    margin-top: 1em;
    float: right;
    display: inline;
}

h1 {
    color: #539987;
    text-align: center;
}

h1, h3, #results {
    text-align: center;
}

.login-inputs {
  margin: 1em;
}

h3 {
    margin-left: 2em;
    padding-bottom: 10px;
}

.content {
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}
button {
  display: block;
  margin-right: 20%;
}

.form-control {
    margin-left: 25%;
    width: 50%;
}





